.datetimePickerContainer {
  display: flex;
  border-radius: 8px;
  background-color: white;
  width: 272px;
  margin-left: 138px;
}

.datetimePicker {
  display: flex;
  border-radius: 8px;
  background-color: white;
  width: 100%;
  margin-top: 10px !important;
}

@media ((max-width: 440px)) {
  .datetimePickerContainer {
    margin-left: auto;
  }
}