.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  font-weight: 500;
}