.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 28px;
  gap: 32px;
}

@media ((max-width: 440px)) {
  .hideOnSmall {
    display: none;
  }
}